.headerBar {
	background-color: #3bb1d6;
	width: 100%;	
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.headerBar h1 {
	display: inline-block;
}

.headerBar img {
	animation: App-logo-spin infinite 1s linear;
	height: 40px;
}